*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(46, 10, 10);
    color: aliceblue;
  
}
header nav{
    background-color: rgb(30, 23, 23);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav from{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-wrap: 1;
    margin-right: 10px;
}
form input[type="text"],button[type = "submit"]{
   border: none;
   font-size: 18px;
   padding: 10px;
   border-radius: 4px;
   /* text-transform: capitalize; */
}
form button[type = "submit"]{
    background-color: rgba(244, 36, 36, 0.934);
    color: wheat;
    cursor: pointer;
    transition: backgrounf-color 0.2s ease-in-out;
}
form button[type="submit"]:hover,.recipe button:hover {
    background-color: rgb(234, 107, 107);
}
.recipe-container{
        text-align: center;
        text-transform:capitalize;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        grid-gap: 40px;
        width: 80%;
        margin: 10px auto;
        /* padding: 20px; */
        /* place-items: center; */
}
.recipe {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    max-width: 350px;
}
.recipe img {
    height: 300px;
}
.recipe h3 {
    font-size: 24px;
}
.recipe p {
    font-size: 20px;
    color: rgb(60, 46, 46);
    /* margin: 5px 0; */
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size: 20px;
    font-weight: 600px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color:rgba(244, 36, 36, 0.934) ;
    color: antiquewhite;
}
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* -webkit-transform: translate(-50%,-50%); */
    background-color: #694c2f;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
}
.recipe-details-content {
    padding: 30px;
}
.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.ingedientsList li {
    margin-bottom: 10px;
    margin-left: -20px;
}
@media screen and (max-width : 600px) {
    header nav {
        flex-direction: column;
    }
    header nav form {
        width: 80%;
        margin-top: 20px;
    }
}